@font-face {
   font-family: F1;
   src: url(../Fonts/Formula1-Bold.otf) format('opentype');
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'F1';
   user-select: none;
}

body {
   background: #fff;
}

.container {
   width: 100vw;
   max-width: 100%;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   align-content: stretch;
}

.titulo {
   width: 100vw;
   background: #ffffff6b;
}

.titulo > h1 {
   text-align: center;
   font-weight: bold;
   font-size: 70px;
   color: #FF1801;
   text-transform: uppercase;
/*    margin-top: 13px;
   margin-bottom: 10px; */
}

.nav {
   text-transform: uppercase;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.nav > a {
   text-decoration: none;
   padding: 8px;
   background: #fff;
   color: #000000;
   border: 1px solid;
   border-radius: 5px;
   margin: 0.1875em;
}

.nav > a:hover {
   background: #ff0033;
   color: #fff;
}

.track-calendar {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(12, 70px);
   justify-content: space-around;
   justify-items: center;
   align-content: center;
}

.calendar-button {
   text-decoration: none;
   width: 41.600em;
   height: 4.375em;
}

.calendar-button:hover {
   transform: scale(1.01);
}

.calendar-button:active {
   transform: scale(1.0);
}

.track {
   margin: 0.625em;
   background: #11113e;
   transform: skew(-9deg);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.3125em;
}

.disputada {
   background: #333333;
}

h2 {
   text-transform: uppercase;
   color: #fff;
}

.countryName > p {
   color: #fff;
   font-style: italic;
}

.divImage {
   width: 3.5em;
   height: 2.3125em;
}

img {
   width: 100%;
   height: 100%;
}

.winners {
   background-color: #f0f0f0;
   display: none;
}

.disputadaAparece {
   display: block;
}

.winners p {
   color: #333;
}

.emergency {
   background-color: #ff0033;
   color: #fff !important;
   font-weight: bold;
   padding: 9px;
   z-index: 0;
}

.first {
   background-color: #FFD700;
   z-index: 0;
}

.second {
   background-color: #C0C0C0;
   z-index: 0;
}

.third {
   background-color: #CD7F32;
   z-index: 0;
}

/* EFFECTS */

.first {
   background-image: radial-gradient(circle, gold, transparent);
   position: relative;
}

.first::after {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: radial-gradient(circle, gold, transparent);
   animation: sprayAnimation 1s infinite;
}

.second {
   background-image: radial-gradient(circle, #C0C0C0, transparent);
   position: relative;
}

.second::after {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: radial-gradient(circle, #C0C0C0, transparent);
   animation: sprayAnimation 1s infinite;
}

.third {
   background-image: radial-gradient(circle, #CD7F32, transparent);
   position: relative;
}

.third::after {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: radial-gradient(circle, #CD7F32, transparent);
   animation: sprayAnimation 1s infinite;
}

.emergency {
   background-image: radial-gradient(circle, #ff0033, transparent);
   position: relative;
}

.emergency::after {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: radial-gradient(circle, #ff0033, transparent);
   animation: sprayAnimation 1s infinite;
}

@keyframes sprayAnimation {
   0% {
      transform: scaleX(1);
   }
   50% {
      transform: scaleX(1.2);
      opacity: 1;
   }
   100% {
      transform: scaleX(1.3);
      opacity: 0;
   }
}

/* EFFECTS */


/* RESPONSIVE */

@media (max-width: 767px){

   .track-calendar {
      grid-template-columns: 1fr;
      justify-content: center;
   }

   .calendar-button {
      width: 100%;
   }

   .calendar-button:hover {
      transform: scale(1);
   }
   
   .calendar-button:active {
      transform: scale(1);
   }

   h2{
      font-size: 13px;
   }

   .titulo h1 {
      font-size: 50px;
   }

   .track > h2 {
      font-size: 10px;
   }

   .countryName > p {
      font-size: 10px;
   }

   .nav {
      justify-content: center;
   }
   
   .nav > a {
      padding: 8px;
   }

   .winners p {
      font-size: 11px;
   }
}

@media (min-width: 768px) and (max-width: 1025px) {
   .track {
      width: 24.400em;
      height: 3.400em;
      transform: skew(-5deg);
   }

   .calendar-button {
      width: 100%;
   }

   .calendar-button:hover {
      transform: scale(1);
   }
   
   .calendar-button:active {
      transform: scale(1);
   }

   h2{
      font-size: 13px;
   }

   .titulo h1 {
      font-size: 50px;
   }

   .track > h2 {
      font-size: 10px;
   }

   .countryName > p {
      font-size: 10px;
   }

   .nav {
      justify-content: center;
   }
   
   .nav > a {
      padding: 8px;
   }

   .winners p {
      font-size: 12px;
   }
}

/* @media only screen and (max-width: 480px) {
   .track {
      width: 24.400em;
      height: 3.400em;
      transform: skew(-5deg);
   }

   .track-calendar {
      grid-template-columns: 1fr;
      justify-content: center;
   }

   .calendar-button {
      width: 100%;
   }

   .calendar-button:hover {
      transform: scale(1);
   }
   
   .calendar-button:active {
      transform: scale(1);
   }

   h2{
      font-size: 13px;
   }

   .titulo h1 {
      font-size: 50px;
   }

   .track > h2 {
      font-size: 10px;
   }

   .countryName > p {
      font-size: 10px;
   }

   .nav {
      justify-content: center;
   }
   
   .nav > a {
      padding: 8px;
   }

   .winners p {
      font-size: 12px;
   }
}

@media only screen and (max-width: 320px) {
   .track {
      width: 16.370em;
      height: 3.200em;
      transform: skew(-4deg);
   }

   .calendar-button {
      width: 100%;
   }

   .calendar-button:hover {
      transform: scale(1);
   }
   
   .calendar-button:active {
      transform: scale(1);
   }

   .nav {
      justify-content: center;
   }

   .titulo h1 {
      font-size: 50px;
   }

   .track > h2 {
      font-size: 8px;
   }

   .countryName > p {
      font-size: 10px;
   }

   .winners p {
      font-size: 12px;
   }
} */