@font-face {
   font-family: F1;
   src: url(../Fonts/Formula1-Bold.otf) format('opentype');
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'F1';
   user-select: none;
}

body {
   /* background: url(images/vettel.jpeg) center center no-repeat fixed; */
   background: #fff;
}

.containerdiv {
   width: 100vw;
   max-width: 100%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   align-content: space-around;
}

.titulo {
   width: 100vw;
   max-width: 100%;
   background: #ffffff6b;
}

.titulo > h1 {
   text-align: center;
   font-weight: bold;
   font-size: 70px;
   color: #FF1801;
   text-transform: uppercase;
   margin: 0;
}

.navy {
   text-transform: uppercase;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.navy > a {
   text-decoration: none;
   padding: 3px;
   background: #fff;
   color: #000000;
   border: 1px solid;
   border-radius: 5px;
   margin: 3px;
}

.navy > a:hover {
   text-decoration: none;
   padding: 3px;
   background: #fff;
   color: #000000;
   border: 1px solid;
   border-radius: 5px;
   margin: 3px;
}

.navy > a:active {
   text-decoration: none;
   padding: 3px;
   background: #fff;
   color: #000000;
   border: 1px solid;
   border-radius: 5px;
   margin: 3px;
}

.pagnav {
   display: flex;
   justify-content: center;
   background: #FF1801;
   width: 100vw;
   max-width: 100%;
   margin-bottom: 5px;
   padding: 8px;
}

.pagnav a {
   cursor: pointer;
   text-decoration: none;
   background: #FF1801;
   color: white;
   padding: 3px 12px 3px 12px;
   border: 1px solid white;
   text-transform: uppercase;
/*    border-right: 1px solid white; */
}

.pagnav ul li {
   list-style: none;
   display: inline-block;
}

.pagnav ul{
   margin: 0;
}

.pagnav a:hover {
   cursor: pointer;
   text-decoration: none;
   color: grey;
}

.pagnav a:active {
   background: #7a0000;
}

img /*imagens carros */{
   width: auto;
   height: auto;
   max-height: 700px;
   margin-left: auto;
   margin-right: auto;
}

.nomeequipe {
   width: 100%;
   text-align: center;
   text-transform: uppercase;
}

.teamdiv {
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: auto;
   padding: 1%;
   flex-wrap: wrap;
}


/* MENU MOBILE*/

.mobile-pagnav {
   display: none;
}

.mobile-menu { 
   display:none; 
}

p {
   margin: 0;
}



@media only screen and (max-width: 480px) {

   .pagnav {
      display: none;
   }

   .mobile-pagnav {
      display: flex;
      justify-content: center;
      background: #FF1801;
      width: 100vw;
      max-width: 100%;
      margin-bottom: 5px;
      padding: 8px;
      }
   
      .mobile-pagnav a {
         cursor: pointer;
         text-decoration: none;
         background: #FF1801;
         color: white;
         padding: 3px 12px 3px 12px;
         border: 1px solid white;
         text-transform: uppercase;
      /*    border-right: 1px solid white; */
      }
   
      .mobile-pagnav ul li {
         list-style: none;
         display: inline-block;
      }
   
      .mobile-pagnav ul{
         margin: 0;
      }
   
      .mobile-pagnav a:hover {
         cursor: pointer;
         text-decoration: none;
         color: grey;
      }
   
      .mobile-pagnav a:active {
         background: #7a0000;
      }

   .mobile-menu { 
      display: inline-block; 
      padding: 8px; 
      background: #ccc; 
      border: 1px solid #000;
      width: 100vw;
      text-align: center;
      margin-bottom: 9px
   }

   .mobile-pagnav { 
      display: none; 
   }

   .mobile-pagnav ul { 
      height: auto;
   }

   .mobile-pagnav ul li,
   .mobile-pagnav ul li a {
      float: none; 
      display: block; 
   }
   
   .mobile-pagnav ul li a { 
      padding: 12px 6px;
   }

   .show { 
      display: block; 
   }

   .navy {
      justify-content: center;
   }
   
   .navy > a {
      padding: 8px;
   }

   .navy > a:hover {
      padding: 8px;
      background: #fff;
      color: #000000;
      margin: 3px;
   }
   
   .navy > a:active {
      text-decoration: none;
      padding: 8px;
      background: #fff;
      color: #FF1801;
      border: 1px solid;
      border-radius: 5px;
      margin: 3px;
   }
}